<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="SchedEventTable" type="SortDataGridColumns.MyConfigSection, SortDataGridColumns" />
    </configSections>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <SchedEventTable>
        <add key="Type" value=""/>
        <add key="PD_STRASSE" value="Straße"/>
        <add key="PD_WOHNORT" value="Wohnort"/>
        <add key="KT_PICK_DT" value="Pick Time"/>
        <add key="PD_GENDER" value="Geschlecht"/>
        <add key="PD_BIRTHDATE" value="Geburtstag"/>
        <add key="PD_HAUSNR" value="Haus Nr."/>
        <add key="PD_SVNR" value="SVNR"/>
        <add key="PD_FIRSNAME" value="Vorname" />
        <add key="PD_LASTNAME" value="Nachname"/>
    </SchedEventTable>
    
</configuration>