<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="tTable" type="SortDataGridColumns.MyConfigSection, SortDataGridColumns" />
    </configSections>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <Table>
        <add key="Type" value=""/>
        <add key="STRASSE" value="Straße"/>
        <add key="WOHNORT" value="Wohnort"/>
        <add key="PICK" value="Pick Time"/>
        <add key="GENDER" value="Geschlecht"/>
        <add key="BIRTHDATE" value="Geburtstag"/>
        <add key="HAUSNR" value="Haus Nr."/>
        <add key="NUMBER" value="Nummer"/>
        <add key="FIRSNAME" value="Vorname" />
        <add key="LASTNAME" value="Nachname"/>
    </Table>
    
</configuration>