<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="SchedEventTable" type="SchedEventConfig.MyConfigSection, SchedEventConfig" />
        <section name="OverviewTable" type="SchedEventConfig.MyConfigSection, SchedEventConfig" />
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

    <SchedEventTable>
        <add key="" value=""/>
        <!--Icon key und value leer lassen!-->
        <add key="PD_FIRSNAME" value="Vorname" />
        <add key="PD_LASTNAME" value="Nachname"/>
        <add key="PD_SVNR" value="SVNR"/>
        <add key="PD_GENDER" value="Geschlecht"/>
        <add key="PD_BIRTHDATE" value="Geburtstag"/>
        <add key="PD_WOHNORT" value="Wohnort"/>
        <add key="PD_STRASSE" value="Straße"/>
        <add key="PD_HAUSNR" value="Haus Nr."/>
        <add key="Contact" value="Kontakt"/>
        <add key="KT_START_DT" value="StartTime"/>
        <add key="KT_PICK_DT" value="PickTime"/>
        <add key="KT_DROP_DT" value="DropTime"/>
        <add key="xdts" value="Xdts"/>
        <add key="sdts" value="Sdts"/>
        <add key="sched_id" value="Sched Id"/>
        <add key="s_id" value="S Id"/>
        <add key="status_code" value="Status Code"/>
        <add key="tycod" value="Tycod"/>
        <add key="sub_tycod" value="SubTycod"/>
        <add key="dgroup" value="DGroup"/>
        <add key="ag_id" value="Agency"/>
        <add key="loc_address" value="Location"/>
        <add key="dest_address" value="Destination"/>
    </SchedEventTable>

    <OverviewTable>
        <add key="Organisation" value="Org" />
        <add key="Vorname" value="Vor"/>
        <add key="Nachname" value="Nach"/>
        <add key="PD_SVNR" value="SVNR"/>
        <add key="Abholort" value="Abh"/>
        <add key="Zielort" value="Zo"/>
        <add key="Serienstart" value="Sstart"/>
        <add key="Serienende" value="Sende"/>
        <add key="Type" value="Changed"/>
    </OverviewTable>

    <appSettings>
        <!-- Der ganze Pfad eingeben-->
        <add key="Patientenmonitor" value="C:\Users\admin\Desktop\iiv\Release\Patientenmonitor\Patientenmonitor.exe"/>
        <add key="htmlReport" value="C:\Temp\"/>
    </appSettings>
</configuration>


<!-- Übersicht Serie DataGrid
Alle DataGrid Columns
    <OverviewTable>
        <add key="Organisation" value="Org" />
        <add key="Vorname" value="Vor"/>
        <add key="Nachname" value="Nach"/>
        <add key="PD_SVNR" value="SVNR"/>
        <add key="Abholort" value="Abh"/>
        <add key="Zielort" value="Zo"/>
        <add key="Serienstart" value="Sstart"/>
        <add key="Serienende" value="Sende"/>
        <add key="Vorortstart" value="Vstart"/>
        <add key="Vorortende" value="Vende"/>
        <add key="Type" value="Changed"/>
        <add key="" value=""/>
    </OverviewTable>
    
    SchedEventPresenter DataGrid
        <SchedEventTable>
        <add key="" value=""/>
        <add key="PD_FIRSNAME" value="Vorname" />
        <add key="PD_LASTNAME" value="Nachname"/>
        <add key="PD_SVNR" value="SVNR"/>
        <add key="PD_GENDER" value="Geschlecht"/>
        <add key="PD_BIRTHDATE" value="Geburtstag"/>
        <add key="PD_WOHNORT" value="Wohnort"/>
        <add key="PD_STRASSE" value="Straße"/>
        <add key="PD_HAUSNR" value="Haus Nr."/>
        <add key="Contact" value="Kontakt"/>
        <add key="KT_START_DT" value="StartTime"/>
        <add key="KT_PICK_DT" value="PickTime"/>
        <add key="KT_DROP_DT" value="DropTime"/>
        <add key="xdts" value="Xdts"/>
        <add key="sdts" value="Sdts"/>
        <add key="sched_id" value="Sched Id"/>
        <add key="s_id" value="S Id"/>
        <add key="status_code" value="Status Code"/>
        <add key="tycod" value="Tycod"/>
        <add key="sub_tycod" value="SubTycod"/>
        <add key="dgroup" value="DGroup"/>
        <add key="ag_id" value="Agency"/>
        <add key="loc_address" value="Location"/>
        <add key="dest_address" value="Destination"/>
    </SchedEventTable>
-->